<div class='body-main'>
  <banner-head></banner-head>
  <div class='program-list'>
    <div class='program-list-wrap clearfix'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="elevator">
  <a href="https://github.com/giscafer" class="elevator-faq" target="_blank">
    <span class="">GitHub</span>
  </a>
  <a href="http://giscafer.com" class="elevator-msg" target="_blank">
    <span class="">博客</span>
  </a>
  <a href="http://weibo.com/laohoubin" target="_blank" class="elevator-app">
    <span class="">微博</span>
    <div class="elevator-app-box"></div>
  </a>
 <!-- <a href="javascript:void(0)" class="elevator-top no-goto" style="display:none" id="backTop">
    <span class="">返回顶部</span>
  </a>-->
</div>

