<a *ngFor="let item of projects; let i=index;" href='javascript:void(0)' target="_blank" class='program-item'>
    <div class='shadow'>
        <div class='program-list-head'>
            <div>
                <img src="./assets/img/{{item.img}}.jpg" style="width: 100%;height: 100%;">
            </div>
        </div>
        <div class='program-list-cont'>
            <div class='program-list-tit'>{{item.title}}</div>
            <div class='program-list-t clearfix'>
                <span class='text'>{{item.subtitle}}</span>
            </div>
            <div class='program-list-dest'>{{item.meta}}</div>

            <div class='program-list-bot'>
                <span class='text'><a *ngIf="item.demoUrl && item.demoUrl!==''" href="{{item.demoUrl}}" target="_blank">在线演示</a></span>
                <span class='git'><a *ngIf="item.gitUrl!==''" href="{{item.gitUrl}}" target="_blank">Github</a></span>
            </div>
        </div>
    </div>

    <a *ngIf="item.npm" href="{{item.npm}}" target="_blank"><span class='item-new'>npm</span></a>
    <div class='c-line'></div>
    <div class='d-line'></div>
</a>