<div class='program-banner'>

    <div class='relative banner-head js-banner-head'>
        <div class='js-all {{curRoutePath.startsWith("/all")?"active":""}}'>
            <h2 class='tit'>{{firstNav.introTitle}}</h2>
            <p class='intro'>
                {{firstNav.intro}}
            </p>
        </div>
        <div *ngFor="let nav of navs2" class='js-{{nav.navIcon}} {{curRoutePath==nav.routerUrl?"active":""}}'>
            <h2 class='tit'>{{nav.introTitle}}</h2>
            <p class='intro'>{{nav.intro}}</p>
        </div>
    </div>

    <div class='tab-nav js-tabNav clearfix'>
        <a *ngFor="let nav of navs;let i = index;" title="{{nav.introTitle}}" href="javascript:void(0)" (click)="navClick(nav.routerUrl)" class="navitem navitemall {{nav.routerUrl===curRoutePath?'active':''}}">
            <i class='navicon {{nav.navIcon}}'></i>
            <span class='navtext'>{{nav.navText}}</span>
            <div class='navbot'></div>
        </a>
    </div>

    <div class='MMM'></div>
    <div class='program-banner-wrap'>
        <div class='program-banner-absolute'>
            <div class='program-banner-bk'>
                <div class='svg-block image1'></div>
                <div class='svg-diamond image2'></div>
                <div class='svg-leaf image3'></div>
                <div class='svg-small-circle'></div>
                <div class='svg-big-circle'></div>
                <div class='svg-triangle image4'></div>
            </div>
        </div>
    </div>
</div>